@import '../../../../styles/colors.scss';

.cardList {
  &__heading {
    display: flex;
    justify-content: space-between;

    &-title {
      display: flex;
      gap: 16px;
      align-items: center;

      h2 {
        font-weight: 500;
      }
    }
  }

  &__description {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 0 20px;
    color: $text-color-summary;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    vertical-align: middle;
  }

  &__list {
    display: flex;
    gap: 24px;
    padding-bottom: 20px;
    padding-top: 10px;
    overflow-x: auto;
  }
}
