@import '../../../styles/colors.scss';

.modal_wrapper {
  width: 0;
  height: 0;
  background-color: rgba($color: #000000, $alpha: 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  overflow: hidden;

  &--show {
    width: 100vw;
    height: 100vh;
  }
  &--hidden {
    width: 0;
    height: 0;
  }
}

.modalCreate {
  height: 500px;
  width: 100%;
  max-width: 720px;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  margin: 20px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;

  &--show {
    transform: scale(1);
  }
  &--hidden {
    transform: scale(0);
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 1px solid #ddd;
    padding: 24px 16px 0;
    color: $text-color;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__heading {
    border-bottom: 1px solid #ddd;
    padding: 16px;
    padding-bottom: 8px;
    width: 100%;

    div {
      &:first-child {
        display: flex;
        justify-content: space-between;
        h2 {
          color: $text-color-heading;
          font-weight: 500;
        }
      }
    }
    &-close {
      cursor: pointer;
      color: $text-color;

      &:hover {
        color: $text-color-heading;
      }
    }
  }

  &__content {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;

    h5 {
      padding-bottom: 14px;
      font-weight: 400;
      color: $text-color;
    }

    &-progress {
      display: flex;
      gap: 20px;
      align-items: center;

      &--removeBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        min-width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }

  &__btn {
    border-top: 1px solid #ddd;
    flex-shrink: 0;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
  }
}
