@import '../../styles/colors.scss';
@import '../../styles/responsive.scss';

.footer {
  background-color: #fff;
  padding: 50px;
  padding-bottom: 100px;

  &__wrap {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    &-session {
      h4 {
        color: $text-color-heading;
        font-weight: 500;
        padding-bottom: 12px;
      }

      p {
        padding: 6px 0;

        a {
          color: $text-color;
          font-weight: 300;

          &:hover {
            color: $orange;
          }
        }
      }
    }

    &-contact {
      display: flex;
      gap: 12px;
      margin-top: 20px;
    }
  }
}

@include responsive_mobile {
  .footer {
    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 26px;
      justify-content: space-between;

      &-contact {
        display: flex;
        gap: 12px;
        margin: 20px 0;
        justify-content: center;
      }
    }
  }
}
